.advertisement {
    
    &_title {
        color: $semiBlack;
        font-family: $regularFont;
        font-weight: $medium;
        font-size: 34px;
        line-height: 34px;
        margin: 46px 0 40px 122px;

        @media screen and (min-width: 769px) and (max-width: 1250px) { 
            margin: 46px 0 40px 40px;
        }
    }

    &__content {

        &_status {
            display: flex;
            align-items: center;
            margin-left: 161px;

            @media screen and (min-width: 769px) and (max-width: 1250px) { 
                margin-left: 40px;
            }

            &-text {
                color: $semiBlack;
                font-family: $regularFont;
                font-size: 20px;
                line-height: 23px;
                margin-left: 64px;

                @media screen and (min-width: 769px) and (max-width: 1250px) { 
                    margin-left: 25px;
                }

                .advertisement-status_green {
                    color: $turquoise;
                }

                .advertisement-status_blue {
                    color: $lightBlue;
                }

                .advertisement-status_red {
                    color: $red;
                }
            }
        }

        &_iWant {
            display: flex;
            align-items: center;
            margin: 60px 0 0 161px;

            @media screen and (min-width: 769px) and (max-width: 1250px) { 
                margin: 60px 0 0 40px;
            }

            &-wrapperBtn {
                margin-left: 23px;
            }

            &-btn {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 220px;
                height: 60px;
                cursor: pointer;
                transition: all 0.25s;
                font-family: $regularFont;
                font-weight: $medium;
                font-size: 14px;
                line-height: 14px;
                position: relative;

                @media screen and (min-width: 769px) and (max-width: 1250px) { 
                    width: 198px;
                }

                img {
                    position: absolute;
                    left: 30px;
                }

                svg {
                    position: absolute;
                    left: 30px;
                }

                a {
                    height: 100%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                &:hover {
                    opacity: 0.9;

                    svg {
                        fill: $white;

                        path {
                            fill: $white;
                        }
                    }
                }
            }

            &_text {
                color: $semiBlack;
                font-family: $regularFont;
                font-weight: $medium;
                margin-left: 64px;
                font-size: 24px;
                line-height: 24px;

                @media screen and (min-width: 769px) and (max-width: 1250px) { 
                    margin-left: 25px;
                }
            }

            &-wrapperBtn {
                display: flex;

                .advertisement-disable, .advertisement-delete {
                    color: $white;
                    text-transform: uppercase;
                    letter-spacing: 2px;

                    a {
                        color: $white;
                    }
                }

                .advertisement-disable {
                    background-color: $red;
                }

                .advertisement-edit, .advertisement-timer {
                    @include btn-empty-black;

                    a {
                        color: $semiBlack;
                    }

                    &:hover {
                        color: $white;
                    }
                }

                .advertisement-edit {
                    border-right: none;
                }

                .advertisement-delete {
                    background-color: $lightBlue;
                }
            }
        }
    }

    &-details {
        margin: 0 122px;

        @media screen and (min-width: 769px) and (max-width: 1250px) { 
            margin: 0 40px;
        }

        &_title {
            color: $semiBlack;
            font-family: $regularFont;
            font-weight: $medium;
            font-size: 34px;
            line-height: 34px;
            margin: 46px 0 40px 0;
    
            @media screen and (min-width: 769px) and (max-width: 1250px) { 
                margin: 46px 0 40px 0;
            }
        }

       &__left-side {
           width: 60%;
           display: flex;
           padding-right: 10vw;

           @media screen and (min-width: 769px) and (max-width: 1250px) { 
                padding-right: 5vw;
            }

           &_img {
               margin-right: 23px;

               img {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                object-fit: cover;
               }
           }
        } 

       &__right-side {
           width: 40%;

           .accordion  {
                padding: 0 !important;
            }
        }

        &__user-info {
            // display: flex;
            // justify-content: space-between;

            width: 100%;

            &_from, &_required {
                color: $gray;
                font-family: $regularFont;
                font-size: 14px;
                line-height: 14px;
                margin-bottom: 15px;
            }

            &_user-name {
                color: $lightBlue;
                border-bottom: 1px solid $lightBlue;
                
                &:hover {
                    opacity: 0.8;
                }
            }

            &_verification {
                color: $darkBlack;
                font-family: $regularFont;
                font-size: 24px;
                line-height: 16px;

                span {
                    color: $red;
                    border-bottom: 1px solid $red;
                }
            }
        }

        &__bottom-row {
            margin-top: 50px;
        }

        &__price {
            margin-top: 50px;

            &_title {
                color: $gray;
                font-family: $regularFont;
                font-size: 14px;
                line-height: 14px;
                margin-bottom: 15px;
            }

            &_cost {
                color: $lightBlue;
                font-family: $regularFont;
                font-weight: $medium;
                font-size: 24px;
                line-height: 20px;
                text-transform: uppercase;
            }
        }
    } 
}