.dashboard {
    &-tabs {
        padding: 64px 122px 0 122px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 1;

        @media screen and (min-width: 769px) and (max-width: 1300px) { 
            padding: 64px 40px 0 40px;
        }
    
        &__left-side {
    
            &_title {
                color: $semiBlack;
                font-family: $regularFont;
                font-weight: $medium;
                font-size: 40px;
                line-height: 47px;

                @media screen and (min-width: 769px) and (max-width: 1300px) { 
                    font-size: 34px;
                }
            }
        }
    
        &__right-side {
    
            .tab-container__tab-item {
                @include empty-blue-btn-hover;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                background-color: #f5f6fb;
                width: 164px;
                height: 36px;
                cursor: pointer;
                color: $gray;
                font-family: $regularFont;
                font-weight: $medium;
                font-size: 14px;
                line-height: 14px;
                text-transform: uppercase;
                letter-spacing: 2px;
    
                span {
                    z-index: 9;
                }
            }
    
            .selected-item {
                background-color: $lightBlue;
                color: $white;
            }
        }
    }
    
    &__table {
        padding: 100px 122px 70px 122px;

        @media screen and (min-width: 769px) and (max-width: 1300px) { 
            padding: 40px;
        }

        &_row {
            display: flex;
            padding: 20px 20px 20px 37px;

            &:hover {
                box-shadow: 0 0 24px rgba(0, 0, 0, 0.05);
                background-color: #ffffff;
            }

            &:nth-child(even) {
                background-color: #fbfcfd;
            }

            &-item {
                overflow-x: hidden;
                overflow-y: -webkit-paged-y;
                margin-right: 15px;

                &:first-child {
                    width: 5%;
                }
                
                &:nth-child(2) {
                    width: 20%;
                }

                &:nth-child(3) {
                    width: 20%;
                }

                &:nth-child(4) {
                    width: 10%;
                }

                &:nth-child(5) {
                    width: 20%;
                }

                &:nth-child(6) {
                    width: 10%;
                }

                &:last-child {
                    width: 15%;
                } 

                p {
                    &:first-child {
                        color: $gray;
                        font-family: $regularFont;
                        font-size: 14px;
                        line-height: 14px;
                        margin-bottom: 15px;
                    }

                    &:last-child {
                        font-family: $regularFont;
                        font-size: 18px;
                        line-height: 18px;
                    }

                }
            }

            .dashboard-number {
                p {
                    &:last-child {
                        color: $semiBlack;
                        font-weight: $medium;
                    }
                }
            }

            .dashboard-status-red {
                p {
                    &:last-child {
                        color: $red;
                    }
                }
            }

            .dashboard-status-green {
                p {
                    &:last-child {
                        color: $turquoise;
                    }
                }
            }

            .dashboard-status-blue {
                p {
                    &:last-child {
                        color: $lightBlue;
                    }
                }
            }

            .dashboard-id {
                p {
                    &:last-child {
                        color: $semiBlack;
                        text-transform: uppercase;
                    }
                }
            }
            .dashboard-id {
                p {
                    &:last-child {
                        color: $semiBlack;
                        text-transform: uppercase;
                    }
                }
            }

            .dashboard-operation-red {
                p {
                    &:last-child {
                        color: $red;
                    }
                }
            }

            .dashboard-operation-green {
                p {
                    &:last-child {
                        color: $turquoise;
                    }
                }
            }

            .dashboard-sum {
                p {
                    &:last-child {
                        color: $semiBlack;
                        text-transform: uppercase;
                    }
                }
            }

            .dashboard-trade-red{
                p {
                    &:last-child {
                        color: $red;
                    }
                }
            }

            .dashboard-trade-green {
                p {
                    &:last-child {
                        color: $turquoise;
                    }
                }
            }

            .dashboard-transfer {
                p a {
                    &:last-child {
                        color: $lightBlue;
                        border-bottom: 1px solid $lightBlue;

                        &:hover {
                            opacity: 0.8;
                        }
                    }
                }
            }
        }

        &_pending {
            .dashboard__table_row {
                justify-content: space-between;
                
                .dashboard-id {
                    p {
                        a {
                            color: $lightBlue;
                            border-bottom: 1px solid $lightBlue;

                            &:hover {
                                opacity: 0.8;
                            }
                        }
                    }
                }

                .dashboard__table_row-item {
                    &:first-child {
                        width: 5%;
                    }
                    
                    &:nth-child(2) {
                        width: 10%;
                    }
    
                    &:nth-child(3) {
                        width: 15%;
                    }
    
                    &:nth-child(4) {
                        width: 10%;
                    }
    
                    &:nth-child(5) {
                        width: 15%;
                    }
    
                    &:nth-child(6) {
                        width: 10%;
                    }
    
                    &:last-child {
                        width: 7%;
                    } 
                }
            }
        }

        &_ads {
            padding: 50px 122px 70px 122px;
        }
    }

    .tab-content-remove.selected-item {
        .sscWalletInside-tabs__title {
            display: block !important;
        }
    }

    .sss-ads-title {
        padding: 65px 122px 0 159px;
        color: $semiBlack;
        font-family: $boldFont;
        font-size: 30px;
        line-height: 30px;
    }
}