.landing {
    &__bg-header {
        position: absolute;
        top: 0;
        right: 0;
        background-image: url("../img/landing/logo&icons/bgLogo.svg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 1085px;
        height: 1085px;
        z-index: -1;
    }

    .tab-content.selected-item {
        .buy-sell__tabs_title {
            display: flex;
        }
    }

    // .list-sellers, .tab-content {
    //     background-color: #efeded;
    // }

    .wrapper__pagination {
        padding-bottom: 50px;
    }
}

// peer to peer exchange

.exchange {
    margin: 92px 36px 0 122px;
    // height: calc(100vh - 76px);
    position: relative;

    @media screen and (min-width: 769px) and (max-width: 1300px) { 
        margin: 40px 36px 0 40px;
    }

    &__text {
        // position: absolute;
        // top: calc(15%);
        // transform: translateY(-15%);

        // @media screen and (min-width: 769px) and (max-width: 1300px) { 
        //     top: 0;
        //     transform: translateY(0%);
        // }

        &_title {
            color: $semiBlack;
            font-family: $boldFont;
            font-size: 60px;
            line-height: 80px;
            visibility: hidden;

            @media screen and (min-width: 769px) and (max-width: 1300px) { 
                font-size: 45px;
            }
        }

        &_description {
            color: $gray;
            font-family: $regularFont;
            font-weight: $normal;
            font-size: 24px;
            line-height: 44px;
            max-width: 463px;
            visibility: hidden;
        }
    }

    &__wrapper {
        display: flex;
        margin-top: 85px;
        // position: absolute;
        // top: 65%;
        // transform: translateY(-65%);
        width: 100%;

        // @media screen and (min-width: 769px) and (max-width: 1300px) { 
        //     top: 79%;
        //     transform: translateY(-79%);
        // }

        &_button {
            display: flex;

            &-green {
                @include btn-empty-green;
                width: 220px;
                height: 60px;
                margin-right: 25px;
                visibility: hidden;

                // @media screen and (min-width: 769px) and (max-width: 1300px) { 
                //     width: 146px;
                // }
            }

            &-red {
                @include btn-red;
                width: 220px;
                height: 60px;
                visibility: hidden;

                // @media screen and (min-width: 769px) and (max-width: 1300px) { 
                //     width: 146px;
                // }
            }
        }

        &_play-video {
            // visibility: hidden;
            // position: absolute;
            // bottom: 75px;

            &_link {
                display: flex;
                align-items: center;
                width: max-content;

                p {
                    color: $semiBlack;
                    font-family: $regularFont;
                    font-weight: $medium;
                    font-size: 20px;
                    line-height: 20px;
                    margin-left: 15px;
                }
            }
        }

        &_svg-icons {
            display: flex;
            justify-content: center;
            width: 100%;
            transform: translateY(-60px) !important;

            @media screen and (min-width: 769px) and (max-width: 1300px) { 
                justify-content: space-between;
                margin: 0 0 0 40px;
            }

            &_item {
                width: calc(100% / 3);
                display: flex;
                flex-direction: column;
                max-width: 200px;
                visibility: hidden;

                @media screen and (min-width: 769px) and (max-width: 1300px) { 
                    justify-content: flex-start;
                    max-width: 150px;
                }

                img {
                    object-fit: scale-down;
                }

                p {
                    color: $semiBlack;
                    font-family: $regularFont;
                    font-weight: $normal;
                    font-size: 20px;
                    line-height: 30px;
                    margin-top: 10px;   
                    text-align: center;
                }
            }
        }
    }
}

// list of sellers

.landing-list-sellers {
    justify-content: flex-end !important;
}

.list-sellers {
    padding: 100px 122px 70px 122px;
    display: flex;
    justify-content: space-between;

    @media screen and (min-width: 769px) and (max-width: 1300px) { 
        padding: 100px 40px 70px 40px;
    }

    &__left-side {

        &_title {
            color: $semiBlack;
            font-family: $boldFont;
            font-size: 40px;
            line-height: 47px;

            @media screen and (min-width: 769px) and (max-width: 1300px) { 
                font-size: 34px;
            }
        }
    }

    &__right-side {
        @include tab-buy-sell;
    }
}

.tab-buy {
    margin: 20px 122px 40px;

    @media screen and (min-width: 769px) and (max-width: 1300px) { 
        margin: 20px 40px 40px 40px !important;
    }

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 1;
        
        &-drop {
            position: relative;
            z-index: 10 !important;
        }


        @media screen and (min-width: 769px) and (max-width: 1300px) { 
            padding: 0;
        }

        &__price {
            color: $lightBlue;
            font-family: $regularFont;
            font-weight: $medium;
            font-size: 24px;

            span {
                font-size: 20px;
            }
        }

        &__or {
            color: $semiBlack;
            font-family: $regularFont;
            font-weight: $medium;
            font-size: 24px;
            line-height: 28px;
            transform: translateX(135px);
        }

        &__createAd {

            .createAd {
                margin-right: 98px;

                @media screen and (min-width: 769px) and (max-width: 1300px) { 
                    margin-right: 0;
                }
            }
        }

        &_seller {
            display: flex;
            transition: all 0.25s;

            &:hover {
                .tab-buy__row_seller-name_first, .tab-buy__row_seller-name_last {
                    color: $lightBlue;
                }
            }

            &_link {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                transition: all 0.25s;
                padding: 28px 98px 28px 38px;
                margin-bottom: 24px;

                @media screen and (min-width: 769px) and (max-width: 1300px) { 
                    padding: 28px 0 28px 38px;
                    width: 100% !important;
                }

                &:hover {
                    box-shadow: 0 0 24px rgba(0, 0, 0, 0.05);
                    background-color: $white;
                }
            }

            &-img {
                position: relative;
                margin-right: 24px;

                img {
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }

            &-dots-quick, &-dots-slow {
                position: absolute;
                right: 0px;
                bottom: 0px;
                width: 16px;
                height: 16px;
                border-radius: 30px;
                border: 2px solid $white;
            }

            &-dots-quick {
                background-color: $lightBlue;
            }

            &-dots-slow {
                background-color: $red;
            }

            &-name {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                &_first, &_last {
                    color: $darkBlack;
                    font-family: $regularFont;
                    font-weight: $medium;
                    font-size: 20px;
                    line-height: 20px;
                }

                &_quick, &_slow  {
                    font-family: $regularFont;
                }

                &_quick {
                    color: $lightBlue;
                }

                &_slow {
                    color: $red;
                }
            }
        }

        &_payment {
            display: flex;

            &-method {
                margin-right: 30px;
                p {
                    &:first-child {
                        color: $gray;
                        font-family: $regularFont;
                        font-size: 14px;
                        margin-bottom: 10px;
                    }
    
                    &:last-child {
                        color: $semiBlack;
                        font-family: $regularFont;
                        font-size: 18px;
                    }
                }
            }

            &-price {
                p {
                    &:first-child {
                        color: $gray;
                        font-family: $regularFont;
                        font-size: 14px;
                        margin-bottom: 10px;
                    }
    
                    &:last-child {
                        color: $lightBlue;
                        font-family: $regularFont;
                        font-weight: $medium;
                        font-size: 18px;
                        line-height: 20px;
                        text-transform: uppercase;
                    }
                }
            }
        }

        &_button {
            display: flex;

            &-total {
                margin-right: 50px;

                p {
                    &:first-child {
                        color: $gray;
                        font-family: $regularFont;
                        font-size: 14px;
                        margin-bottom: 10px;
                    }
    
                    &:last-child {
                        color: $semiBlack;
                        font-family: $regularFont;
                        font-size: 18px;
                    }
                }
            }

            &-green {
                @include btn-empty-green;
            }

            &-red {
                @include btn-empty-red;
            }

            &-green, &-red {
                width: 146px;
                height: 48px;
            }
        }
    }

    &__inputs-red {
        border: 1px solid $red;
    }

    &__inputs-green {
        border: 1px solid $turquoise;
    }

    &__inputs {
        position: relative;
        margin-right: 12px;
        width: 50%;

        &_currency {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 80px;
            font-family: $regularFont;
            color: $semiBlack;
            font-size: 30px;
            text-transform: uppercase;
            user-select: none;

            @media screen and (min-width: 769px) and (max-width: 1300px) { 
                font-size: 24px;
            }
        }

        label {
            position: absolute;
            top: -15px;
            color: $semiBlack;
            font-family: $regularFont;
            font-size: 14px;
            text-transform: uppercase;
        }

        input {
            width: 100%;
            height: 90px;
            background-color: #f2f3f9;
            border: none;
            padding: 27px 150px 27px 24px;
            font-family: $regularFont;
            color: $semiBlack;
            font-size: 30px;
            outline: none;

            @media screen and (min-width: 769px) and (max-width: 1300px) { 
                font-size: 24px;
            }

            &::placeholder {
                color: $semiBlack;
            }
        }
    }

    &__wrapper-dropdown {
        position: relative;
        margin-left: 12px;
        width: 50%;

        &_label {
            position: absolute;
            top: -15px;
            color: $semiBlack;
            font-family: $regularFont;
            font-size: 14px;
            text-transform: uppercase;
        }
    }

    &__dropdown {
        width: 100%;
        height: 90px;
        background-color: #f2f3f9;
        border: none;
        padding: 27px 0 27px 24px;
        font-family: $regularFont;
        color: $semiBlack;
        font-size: 30px;
        outline: none;

        @media screen and (min-width: 769px) and (max-width: 1300px) { 
            font-size: 24px;
        }

        &:after {
            border-bottom: 1px solid $black;
            border-right: 1px solid $black;
            width: 10px;
            height: 10px;
            right: 50px;
        }

        .list {
            width: 100%;
        }

        .option {
            width: 100%;
            height: 90px;
            background-color: #f2f3f9 !important;
            border: none;
            color: $semiBlack;
            padding: 27px 0 27px 24px;
            font-size: 30px;
            outline: none;
            font-weight: $normal !important;

            @media screen and (min-width: 769px) and (max-width: 1300px) { 
                font-size: 24px;
            }
        }

        .disabled  {
            display: none;
        }
    }

    &__profile-title {
        color: #393939;
        font-family: $boldFont;
        font-size: 34px;
        line-height: 40px;
        margin: 40px 0 25px 0;

        &_name {
            color: $lightBlue;
            border-bottom: 1px solid $lightBlue;
        }
    }
}

// graph block

.graph-block {
    background-image: url("../img/landing/logo&icons/graph-block.svg");
    background-repeat: no-repeat;
    height: 231px;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    padding: 60px 250px;
    position: relative;
    z-index: 10;
    margin-bottom: 80px;

    @media screen and (min-width: 769px) and (max-width: 1300px) { 
        padding: 60px 100px;
    }

    &__item {
        display: flex;
        align-items: center;
        max-width: 300px;

        p {
            color: $white;
            font-family: $regularFont;

            &:first-child {
                font-weight: $medium;
                font-size: 40px;
                line-height: 47px;
                text-align: center;

                @media screen and (min-width: 769px) and (max-width: 1300px) { 
                    font-size: 34px;
                }
            }
        }

        &_description {
            font-size: 24px;
            line-height: 24px;
            margin: 20px auto 0;
            max-width: 185px;
            text-align: center;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: scale-down;
        }
    }
}

.createAd {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 32px 220px 40px 0;

    @media screen and (min-width: 769px) and (max-width: 1300px) { 
        margin: 32px 80px 40px 0;
    }

    &__text {
        color: $semiBlack;
        font-family: $regularFont;
        font-weight: $medium;
        font-size: 16px;
        line-height: 19px;
    }

    &__btn {
        @include btn-blue;
        width: 146px;
        height: 48px;
        margin-left: 24px;
    }
}

// as seen in

.asSeenIn {
    display: flex;
    justify-content: space-between;
    padding: 30px 122px 80px 122px;

    @media screen and (min-width: 769px) and (max-width: 1300px) { 
        padding: 30px 40px 80px 40px;
    }

    &__left-side {
        margin-right: 100px;
        width: 30%;

        @media screen and (min-width: 769px) and (max-width: 1300px) { 
            margin-right: 0;
        }

        p {
            &:first-child {
                color: $semiBlack;
                font-family: $boldFont;
                font-size: 40px;
                line-height: 47px;

                @media screen and (min-width: 769px) and (max-width: 1300px) { 
                    font-size: 34px;
                }
            }

            &:last-child {
                color: $gray;
                font-family: $regularFont;
                font-size: 24px;
                line-height: 44px;
                max-width: 369px;
            }
        }
    }

    &__right-side {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 70%;

        @media screen and (min-width: 769px) and (max-width: 1300px) { 
            width: 100%;
            margin-top: 40px;
            padding: 0 40px;
        }

        img {
            filter: grayscale(100%);
        }
    }
}

// reviews

.reviews {
    padding: 0 122px 20px 122px;

    @media screen and (min-width: 769px) and (max-width: 1300px) { 
        padding: 0 40px 20px 40px;
    }

    &__title-block {

        &_title {
            color: $semiBlack;
            font-family: $boldFont;
            font-size: 40px;
            line-height: 47px;

            @media screen and (min-width: 769px) and (max-width: 1300px) { 
                font-size: 34px;
            }
        }
    }
}

.banner-accountIsClosed {
    height: 100px;
    transition: all 0.25s;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 100px 0 160px;
    transition: all 0.5s;
    position: fixed;
    bottom: 0;
    z-index: 1;
    width: 100%;
    display: none;

    &__warning-img {
        margin-right: 61px;
    }

    &__content {
        p {
            color: $white;
            font-family: $regularFont;

            &:first-child {
                font-size: 14px;
                letter-spacing: 1px;
                padding-bottom: 10px;
            }

            &:last-child {
                font-size: 22px;
                line-height: 20px;
            }
        }
    }

    &__close-btn {
        margin-left: 200px;
        cursor: pointer;
        padding: 20px;
    }

    &__active {
        display: none;
    }
}

.banner-red {
    background-color: $red;
    transition: all 0.25s;
}

.banner-green {
    background-color: $turquoise;
    transition: all 0.25s;
}