.profile {
    padding: 60px 122px 20px 122px;

    @media screen and (min-width: 769px) and (max-width: 1300px) { 
        padding: 60px 40px 20px 40px;
    }

    &__title-block {

        &_title {
            color: $semiBlack;
            font-family: $boldFont;
            font-size: 40px;
            line-height: 47px;

            @media screen and (min-width: 769px) and (max-width: 1300px) { 
                font-size: 34px;
            }
        }
    }

    &-wrapper {
        padding: 64px 237px 40px 122px;
        display: flex;
        justify-content: space-between;

        @media screen and (min-width: 769px) and (max-width: 1300px) { 
            padding: 64px 40px 40px 40px;
        }

        &__left-side {
            display: flex;

            .another-user-avatar {
                cursor: initial;
                display: none;

                &:hover {
                    opacity: 1;
                }
            }

            &_avatar {
                margin-right: 24px;
                position: relative;
                cursor: pointer;
                transition: all 0.25s;

                &:hover {
                    opacity: 0.7;
                }

                &-img {
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }

            &_upload {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                &_img {

                }

                &_file {
                    display: none;
                }
            }

            &_item-center {
                margin-right: 90px;

                &_row {

                    &:not(:last-child) {
                        margin-bottom: 30px;
                    }

                    .profile-wrapper__left-side_name {
                        color: $darkBlack;
                        font-family: $regularFont;
                        font-weight: $medium;
                        font-size: 20px;
                        line-height: 20px;
                    }
                    p {
                        &:first-child {
                            color: $gray;
                            font-family: $regularFont;
                            font-size: 14px;
                            line-height: 14px;
                            margin-bottom: 10px;
                        }

                        &:last-child {
                            color: $semiBlack;
                            font-family: $regularFont;
                            font-size: 24px;
                            line-height: 20px;
                        }
                    }
                }
            }

            &_item-right {
                transform: translateY(73px);
            
                &_row {
                    
                    &:not(:last-child) {
                        margin-bottom: 30px;
                    }

                    p {
                        &:first-child {
                            color: $gray;
                            font-family: $regularFont;
                            font-size: 14px;
                            line-height: 14px;
                            margin-bottom: 10px;
                        }
            
                        &:last-child {
                            color: $semiBlack;
                            font-family: $regularFont;
                            font-size: 24px;
                            line-height: 20px;
                        }
                    }
                }
            }
        }

        &__right-side {

            &_item {
                display: flex;
                flex-direction: column;
                margin-bottom: 30px;
            }

            &_messenger {
                flex-direction: row;
                justify-content: space-between;

                &-btn {
                    margin-right: 25px;
                }
            }

            &_title {
                color: $gray;
                font-family: $regularFont;
                font-size: 14px;
                line-height: 14px;
                margin-bottom: 10px;
            }

            &_submit-wrapper {
                display: flex;
                justify-content: space-between;

                .not-submitted, .submitted, .pending, .not-submitted-black {
                    font-family: $regularFont;
                    font-size: 24px;
                    line-height: 20px;
                    margin-right: 30px;
                }

                .not-submitted {
                    color: $red;
                }

                .not-submitted-black {
                    color: $darkBlack;
                }

                .submitted {
                    color: $turquoise;
                }

                .pending {
                    color: $gray;
                }
            }

            &_submit-input {

                label {
                    color: $lightBlue;
                    font-family: $regularFont;
                    font-size: 24px;
                    line-height: 20px;
                    border-bottom: 1px solid $lightBlue;
                    cursor: pointer;
                }

                input {
                    display: none;
                }
            }

            &_button {
                @include btn-red;
                background-color: $red;
                color: $white;
                font-family: $regularFont;
                width: 220px;
                height: 60px;
                font-size: 14px;
                font-weight: 700;
                line-height: 14px;
                text-transform: uppercase;
                letter-spacing: 2px;
                cursor: pointer;
            }
        }
    }
}