.settings {
    padding: 60px 122px 20px 122px;

    @media screen and (min-width: 769px) and (max-width: 1250px) { 
        padding: 60px 40px 20px 40px;
    }

    &__title-block {

        &_title {
            color: $semiBlack;
            font-family: $boldFont;
            font-size: 40px;
            line-height: 47px;

            @media screen and (min-width: 769px) and (max-width: 1250px) { 
                font-size: 34px;
            }
        }
    }
}