.settings {
    padding: 60px 122px 20px 122px;

    &__title-block {

        &_title {
            color: $semiBlack;
            font-family: $boldFont;
            font-size: 40px;
            line-height: 47px;
        }
    }
}