.sscWallet {
    &__wrapper {
        display: flex;
        margin: 70px 122px 95px 160px;
    }

    &__left-side {
        @include center;
        width: 40%;

        &_img {
            max-width: 310px;
            width: 100%;
            height: auto;
        }
    }

    &__right-side {
        width: 60%;

        &_title {
            color: $semiBlack;
            font-family: $regularFont;
            font-weight: $medium;
            font-size: 34px;
            line-height: 60px;
        }

        &_text {
            color: $gray;
            font-family: $regularFont;
            font-size: 24px;
            line-height: 44px;
            margin: 20px 0;
        }

        &_list {
            li {
                color: $gray;
                font-family: $regularFont;
                font-size: 24px;
                line-height: 44px;
                position: relative;
                padding-left: 40px;

                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    border: 1px solid $gray;
                }
            }
        }

        &_btn {
            width: 220px;
            height: 60px;
            margin-top: 40px;
        }
    }
}