.sscWallet {
    &__wrapper {
        display: flex;
        margin: 70px 122px 95px 160px;

        @media screen and (min-width: 769px) and (max-width: 1300px) { 
            margin: 70px 40px 95px 40px;
        }
    }

    &__left-side {
        @include center;
        width: 40%;

        &_img {
            max-width: 310px;
            width: 100%;
            height: auto;
        }
    }

    &__right-side {
        width: 60%;

        @media screen and (min-width: 769px) and (max-width: 1300px) { 
            width: calc(60% - 40px);
            margin-left: 40px;
        }

        &_title {
            color: $semiBlack;
            font-family: $regularFont;
            font-weight: $medium;
            font-size: 34px;
            line-height: 60px;
        }

        &_text {
            color: $gray;
            font-family: $regularFont;
            font-size: 24px;
            line-height: 44px;
            margin: 20px 0;
        }

        &_list {
            li {
                color: $gray;
                font-family: $regularFont;
                font-size: 24px;
                line-height: 44px;
                position: relative;
                padding-left: 40px;

                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    border: 1px solid $gray;
                }
            }
        }

        &_btn {
            width: 220px;
            height: 60px;
            margin-top: 40px;
        }
    }
}

// sscWalletInside

.sscWalletInside {
    &-tabs {
        padding: 64px 122px 0 122px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media screen and (min-width: 769px) and (max-width: 1300px) { 
            padding: 64px 40px 0 40px;
        }

        &__input-wrapper {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin: 80px 0 60px 0;

            &_item {
                @include main-input;
                position: relative;
                width: calc(50% - 70px);
                margin-bottom: 60px;

                @media screen and (min-width: 769px) and (max-width: 1300px) { 
                    width: calc(50% - 20px);
                }

                &:nth-child(3) {
                    width: 100%;
                }

                &-img {
                    position: absolute;
                    left: 31px;
                    top: 50%;
                    transform: translateY(-50%);
                }
    
                &:first-child {
                    margin-right: 140px;

                    @media screen and (min-width: 769px) and (max-width: 1300px) { 
                        margin-right: 40px;
                    }
                }
                
                input {
                    width: calc(100% - 116px);
                    height: 90px;
                    padding: 27px 24px 27px 24px;
                    font-size: 30px;
                    margin-left: 116px;

                    @media screen and (min-width: 769px) and (max-width: 1300px) { 
                        font-size: 24px;
                    }
                }

                label {
                    margin-left: 116px;
                }

                &-dropDown-text {
                    color: $lightBlue;
                    font-family: $regularFont;
                    font-size: 14px;
                    letter-spacing: 1px;
                    line-height: 14px;
                    text-transform: uppercase;
                    margin-left: 116px;
                    margin-top: 5px;

                    @media screen and (min-width: 769px) and (max-width: 1300px) { 
                        font-size: 12px;
                    }
                }
            }

            &_btn {
                @include btn-empty-black;
                font-weight: $medium;
                width: 220px;
                height: 60px;
                font-size: 14px !important;
                line-height: 14px;
                margin-left: 116px;
            }
        }

        &__title {
            color: $semiBlack;
            font-family: $regularFont;
            font-weight: $medium;
            font-size: 40px;
            line-height: 47px;
            transform: translate(122px, -41px);
            position: absolute;
            display: none;

            @media screen and (min-width: 769px) and (max-width: 1300px) { 
                font-size: 34px;
                transform: translate(40px, -41px);
            }
        }
    
        &__right-side {
    
            .tab-container__tab-item {
                @include empty-blue-btn-hover;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                background-color: #f5f6fb;
                width: 164px;
                height: 36px;
                cursor: pointer;
                color: $gray;
                font-family: $regularFont;
                font-weight: $medium;
                font-size: 14px;
                line-height: 14px;
                text-transform: uppercase;
                letter-spacing: 2px;
    
                span {
                    z-index: 9;
                }
            }
    
            .selected-item {
                @include btn-blue;
            }
        }
    }
    
    &__table {
        padding: 32px 122px 40px 122px;

        @media screen and (min-width: 769px) and (max-width: 1300px) { 
            padding: 32px 40px 40px 40px;
        }

        &_qrCode > img {
            width: 220px;
            height: 220px;
        }

        .qrCode_btn {
            @include btn-empty-black;
            width: 220px;
            height: 60px;
            font-size: 14px !important;
            font-weight: 700;
            line-height: 14px;
            margin-left: 116px;
            margin-top: 40px;
            margin-bottom: 60px;
        }

        .wrapper-QrCode {
            width: 220px;
            height: 220px;
            margin-left: 116px;
            margin-top: 74px;
        }

        &_transaction-history {
            display: flex;
            align-items: center;
            margin-bottom: 20px;

            &_title {
                color: $semiBlack;
                font-family: $regularFont;
                font-weight: $medium;
                font-size: 24px;
                line-height: 24px;
            }

            &_img {
                margin: 0 61px 0 31px;
            }
        }

        &_row {
            display: flex;
            justify-content: space-between;
            padding: 20px 20px 20px 37px;

            &:hover {
                box-shadow: 0 0 24px rgba(0, 0, 0, 0.05);
                background-color: $white;
            }

            &:nth-child(even) {
                background-color: #fbfcfd;
            }

            &-item {
                overflow: hidden;
                margin-right: 15px;

                &:first-child {
                    width: 5%;
                }
                
                &:nth-child(2) {
                    width: 15%;
                }

                &:nth-child(3) {
                    width: 10%;
                }

                &:nth-child(4) {
                    width: 12.5%;
                }

                &:nth-child(5) {
                    width: 12.5%;
                }

                &:nth-child(6) {
                    width: 20%;
                }

                &:last-child {
                    width: 10%;
                } 

                p {
                    &:first-child {
                        color: $gray;
                        font-family: $regularFont;
                        font-size: 14px;
                        line-height: 14px;
                        margin-bottom: 15px;
                    }

                    &:last-child {
                        font-family: $regularFont;
                        font-size: 18px;
                        line-height: 25px;
                    }
                }
            }

            .sscWalletInside-number {
                p {
                    &:last-child {
                        color: $semiBlack;
                        font-weight: $medium;
                    }
                }
            }

            .sscWalletInside-status-red {
                p {
                    &:last-child {
                        color: $red;
                    }
                }
            }

            .sscWalletInside-status-green {
                p {
                    &:last-child {
                        color: $turquoise;
                    }
                }
            }

            .sscWalletInside-status-blue {
                p {
                    &:last-child {
                        color: $lightBlue;
                    }
                }
            }

            .sscWalletInside-currency {
                p {
                    &:last-child {
                        color: $semiBlack;
                        text-transform: uppercase;
                    }
                }
            }
            .sscWalletInside-currency {
                p {
                    &:last-child {
                        color: $semiBlack;
                        font-weight: $medium;
                        text-transform: uppercase;
                    }
                }
            }

            .sscWalletInside-operation-red {
                p {
                    &:last-child {
                        color: $red;
                    }
                }
            }

            .sscWalletInside-operation-green {
                p {
                    &:last-child {
                        color: $turquoise;
                    }
                }
            }

            .sscWalletInside-time {
                p {
                    &:last-child {
                        color: $semiBlack;
                        text-transform: uppercase;
                    }
                }
            }

            .sscWalletInside-num-red{
                p {
                    &:last-child {
                        color: $red;
                    }
                }
            }

            .sscWalletInside-num-green {
                p {
                    &:last-child {
                        color: $turquoise !important;
                        font-weight: $medium;
                    }
                }
            }

            .sscWalletInside-num-blue {
                p {
                    &:last-child {
                        color: $lightBlue;
                    }
                }
            }

            .sscWalletInside-type {
                p a {
                    &:last-child {
                        color: $lightBlue;
                        border-bottom: 1px solid $lightBlue;

                        &:hover {
                            opacity: 0.8;
                        }
                    }
                }
            }
        }

        .withdrawal__table {
            .sscWalletInside__table_row {
                flex-wrap: wrap;
                justify-content: flex-start;

                &:not(:last-child) {
                    margin-bottom: 20px;
                } 

                &-item {
                    &:first-child {
                        width: 5%;
                    }
                    
                    &:nth-child(2) {
                        width: 33%;

                        @media screen and (min-width: 769px) and (max-width: 1300px) { 
                            width: 37%;
                        }
                    }
    
                    &:nth-child(3) {
                        width: 12.5%;
                    }
    
                    &:nth-child(4) {
                        width: 12.5%;
                    }
    
                    &:nth-child(5) {
                        width: 12.5%;
                    }
    
                    &:nth-child(6) {
                        width: 15%;

                        @media screen and (min-width: 769px) and (max-width: 1300px) { 
                            width: 10%;
                        }
                    }
    
                    &:last-child {
                        width: 100%;

                        p {
                            &:last-child {
                                color: #0277ff;
                            }
                        }
                    } 
                }

                p {
                    &:first-child {
                        font-weight: $medium;
                    }
                }

                .sscWalletInside__table_row-item {
                    &:last-child {
                        margin: 16px 0 20px 0;
                        margin-left: calc(5% + 15px);
                    }
                }
            }
        }

        .deposit__table {

            .sscWalletInside__table_row {
                flex-wrap: wrap;
                justify-content: space-between;

                &:not(:last-child) {
                    margin-bottom: 20px;
                } 

                &-item {
                    &:first-child {
                        width: 5%;
                    }
                    
                    &:nth-child(2) {
                        width: 33%;
                    }
    
                    &:nth-child(3) {
                        width: 12.5%;
                    }
    
                    &:nth-child(4) {
                        width: 12.5%;
                    }
    
                    &:nth-child(5) {
                        width: 12.5%;
                    }
    
                    &:nth-child(6) {
                        width: 15%;
                    }
    
                    &:last-child {
                        width: 9.5%;

                        p {
                            &:last-child {
                                color: #0277ff;
                            }
                        }
                    } 
                }

                p {
                    &:first-child {
                        font-weight: $medium;
                    }
                }
            }
        }
    }

    .tab-content-remove.selected-item {
        .sscWalletInside-tabs__title {
            display: block !important;
        }
    }

    &-Qr-container {
        position: relative;
        @include main-input;
        display: flex;
        align-items: center;
        max-width: 1068px;
        width: 100%;
        margin-top: 80px;

        @media screen and (min-width: 769px) and (max-width: 1300px) { 
            max-width: inherit;
        }

        &__input {
            width: 100%;
        }

        input {
            width: 100%;
            padding: 27px 24px 27px 24px;
            font-size: 30px;
            line-height: 40px;

            @media screen and (min-width: 769px) and (max-width: 1300px) { 
                font-size: 24px;
            }
        }

        &__banner {
            max-width: 952px;
            width: calc(100% - 116px);
            height: 60px;
            background-color: $lightBlue;
            margin-left: 116px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            @media screen and (min-width: 769px) and (max-width: 1300px) { 
                max-width: inherit;
            }

            &_img {
                margin-right: 40px;
            }

            &_text {
                color: $white;
                font-family: $regularFont;
                font-size: 18px;
                line-height: 28px;

                span {
                    font-weight: $medium;
                }
            }

            &_triangle {
                position: absolute;
                border: 13px solid transparent;
                border-bottom: 13px solid $lightBlue;
                top: -26px;
                right: 40px;
            }
        }
    }
}