html {
    box-sizing: border-box;
    width: 100%;
    min-height: 100%;
    height: 100%;
    overflow-x: auto;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
}

@import "./utils/mixins-variables";
@import "./utils/nice-select";
@import "./utils/tabs";
@import "./utils/rewiews";
@import "./utils/pagination";
@import "./utils/accordion";
@import "./utils/radio-button";
@import "./base/fonts";
@import "./base/reset";
@import "./base/slick";
@import "./base/slick-theme";
@import "./layout/header";
@import "./layout/footer";
@import "./layout/modal-window";
@import "./main/main";
@import "./landing";
@import "./sscWallet";
@import "./buySell";
@import "./dashboard";
@import "./profile";
@import "./settings";