@font-face {
    font-family: 'CoreSans Regular';
    src: url("../fonts/CoreSansG-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: 'CoreSans Bold';
    src: url("../fonts/CoreSansG-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: 'FuturaPT';
    src: url("../fonts/FuturaPTBook.otf");
}

@font-face {
    font-family: 'FuturaPTBold';
    src: url("../fonts/FuturaPTBold.otf");
}
