body .accordion {
    padding: 0 122px;

    @media screen and (min-width: 769px) and (max-width: 1300px) { 
        padding: 0 40px;
    }

    &__authentication-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &_left-side {
            p {
                color: $semiBlack;
                font-family: $regularFont;
                font-size: 24px;

                .disabled {
                    color: $lightBlue;
                }

                .enable {
                    color: $turquoise
                }
            }
        }

        &_right-side {
            margin-left: 100px;

            &-btn {
                @include btn-empty-black;
                width: 220px;
                height: 60px;
                font-size: 14px !important;
                font-weight: 700;
                line-height: 14px;
            }
            
        }
    }

    &__authentication-open {
        display: none;

        &_qrCode {
            margin-bottom: 50px;
            display: flex;
            flex-direction: row-reverse;

            & > img {
                width: 220px;
                height: 220px;
            }
        }

        &_subtitle {
            color: $gray;
            font-family: $regularFont;
            font-size: 24px;
            margin: 20px 0 0 50px;

            a {
                color: $lightBlue;
                border-bottom: 2px solid $lightBlue;
                transition: all 0.25s;

                &:hover {
                    opacity: 0.8;
                }
            }
        }

        &_input {
            position: relative;
            margin-top: 60px;

            input {
                color: $semiBlack;
                font-family: $regularFont;
                width: 100%;
                height: 90px;
                padding: 27px 24px 27px 24px;
                font-size: 30px;
                background-color: #f2f3f9;
                border: none;
                outline: none;
            }

            label {
                color: $semiBlack;
                font-family: $regularFont;
                position: absolute;
                top: -15px;
                font-size: 14px;
                text-transform: uppercase;
            }

            p {
                font-family: $regularFont;
                cursor: pointer;
                width: 84px;
                height: 66px;
                background-color: #e5e6ef;
                opacity: 0.5;
                color: $gray;
                font-size: 24px;
                text-transform: uppercase;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: 13px;
                right: 10px;
                user-select: none;
            }
        }

        &_btn-wrapper {
            display: flex;
            margin-top: 50px;

            &_enable {
                @include btn-empty-black;
                font-weight: $medium;
                width: 220px;
                height: 60px;
                font-size: 14px !important;
                line-height: 20px;
                margin-right: 50px;
            }

            &_cancel {
                font-family: $regularFont;
                font-weight: $medium;
                background-color: $red;
                font-size: 14px;
                line-height: 14px;
                width: 220px;
                height: 60px;
                border: none;
                outline: none;
                cursor: pointer;
                text-transform: uppercase;
                letter-spacing: 2px;
                color: $white;
                transition: all 0.25s;
                margin-right: 24px;
    
                &:hover {
                    opacity: 0.9;
                }
            }
        }
    }

    &__profile-container {

        &_row {
            display: flex;
            justify-content: space-between;

            &:not(:last-child) {
                margin-bottom: 40px;
            }

            .toggle-group {
                margin-bottom: 0;
            }

            .profile-wrapper__right-side_item {
                &:last-child {
                    margin-bottom: 0;
                }
            }

            &-social-subscribe {
                display: flex;
                flex-direction: column;
                justify-content: center;            
            }
        }

        &_input {
            position: relative;
            width: 463px;
            @include main-input;

            &:first-child {
                margin-right: 20px;
            }
            

            input {
                width: 100%;
                height: 90px;
                padding: 27px 24px 27px 24px;
                font-size: 30px;
            }
        }

        &_add-phone-number {
            color: $lightBlue !important;
            font-family: "FuturaPT",sans-serif;
            font-size: 24px;
            line-height: 20px;
            border-bottom: 1px solid $lightBlue;
            cursor: pointer;
        }
    }

    &__trustedDevices-container {
        display: flex;
        justify-content: center;
        align-items: center;

        &_noDivices {
            color: $semiBlack;
            font-family: $regularFont;
            font-size: 24px;
            display: none;
        }

        &_table {

            width: 100%;
        }

        &_row {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 20px 20px 20px 37px;

            &:hover {
                box-shadow: 0 0 24px rgba(0,0,0,0.05);
                background-color: $white;
            }

            &:not(:last-child) {
                margin-bottom: 20px;
            }

            &-ipCurrent {
                p {
                    &:last-child {
                        color: $lightBlue;
                    }
                }
            }

            &-item {
                p {
                    &:first-child {
                        color: $gray;
                        font-family: $regularFont;
                        font-size: 14px;
                        line-height: 14px;
                        margin-bottom: 15px;
                    }

                    &:last-child {
                        font-family: $regularFont;
                        font-size: 18px;
                        line-height: 25px;
                    }
                }
            }

            &-btn {
                button {
                    width: 146px;
                    height: 48px;
                    background-color: $red;
                    color: $white;
                    font-family: $regularFont;
                    font-size: 14px;
                    font-weight: $medium;
                    line-height: 14px;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    border: none;
                    cursor: pointer;
                    transition: all 0.25s;

                    &:hover {
                        opacity: 0.9;
                    }
                }
            }
        }
    }

    &__blacklist-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 34px 98px 34px 38px;
        transition: all 0.25s;

        &:hover {
            box-shadow: 0 0 34px rgba(0, 0, 0, 0.05);
            background-color: $white;
        }

        &:not(:last-child) {
            margin-bottom: 20px;
        }

        &_left-side {
        }

        &_right-side {
            margin-left: 100px;

            &-btn {
                @include btn-empty-black;
                width: 146px;
                height: 48px;
                font-size: 14px !important;
                font-weight: 700;
                line-height: 14px;
            }
            
        }
    }

    &__lastActivities-container {

        &_title {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 30px;

            h3 {
                color: $semiBlack;
                font-family: $regularFont;
                font-size: 24px;
            }
        }

        &_row {
            display: flex;
            justify-content: space-between;

            &:not(:last-child) {
                margin-bottom: 16px;
            }
        }
    }

    &__apiAccess-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &_left-side {

            p {
                color: $semiBlack;
                font-family: $regularFont;
                font-size: 24px;

                .disabled {
                    color: $lightBlue;
                }

                .enable {
                    color: $turquoise
                }
            }
        }

        &_right-side {
            margin-left: 100px;

            &-btn {
                @include btn-empty-black;
                width: 220px;
                height: 60px;
                font-size: 14px !important;
                font-weight: 700;
                line-height: 14px;
            }
            
        }
    }
    
    &__closeAccount-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &_left-side {
            p {
                color: $semiBlack;
                font-family: $regularFont;
                font-size: 24px;
            }
        }

        &_right-side {
            margin-left: 100px;

            &-btn {
                @include btn-red;
                cursor: pointer;
                background-color: $red;
                width: 220px;
                height: 60px;
                color: $white;
                font-size: 14px !important;
                font-weight: 700;
                line-height: 14px;
                border: none;
            }
        }
    }
    
    &__notification {

        &_title {
            color: $semiBlack;
            font-family: $regularFont;
            font-size: 24px;
            margin-bottom: 40px;
        }
    }
    
    &__title {

        span {
            margin-right: 45px;
        }

        &:after {
            content: url(../img/cabinet/settings/chevron-up.svg);
            position: absolute;
            top: 50%;
            right: 37px;
            transform: translateY(-50%);
            transition: all 0.25s;
        }
    }

    .ui-accordion-header-collapsed:after {
        transform: rotate(180deg);
        top: 35%;
    }


    .ui-state-default, .ui-state-active {
        background-color: $bgColor;
        color: $semiBlack;
        font-family: $regularFont;
        font-weight: $medium;
        font-size: 24px;
        border: none;
        outline: none;
        padding: 28px 43px;
    }

    .ui-state-default {
        background-color: $bgColor;
    }

    .ui-state-active {
        background-color: $white;
        box-shadow: 0px -15px 10px -15px rgba(0,0,0,0.05);
    }

    .ui-icon {
        background-image: url(../img/cabinet/settings/plus.svg);
        background-position: center center;
    }
    
    .ui-state-active .ui-icon {
        background-image: url(../img/cabinet/settings/minus.svg);
        background-position: center center;
    }

    .ui-state-hover {
        box-shadow: 0 0 24px rgba(0,0,0,0.05);
        background-color: $white;
    }

    .ui-accordion-content {
        border-left: none ;
        border-right: none;
        box-shadow: 0 0 34px rgba(0, 0, 0, 0.05);
        background-color: $white;
        padding: 50px 80px 50px 80px;
        margin-bottom: 20px;
        line-height: 31px;

        @media screen and (min-width: 769px) and (max-width: 1300px) { 
            padding: 50px 80px 50px 43px;
        }
    }
}