.custom_select {

    &__options {
        display: none;
        overflow: hidden;
        transform: scale(1) translateY(0);
        box-shadow: 0 0 0 1px rgba(68,68,68,0.11);
  
      .selectOption {
        width: 70px;
        background-color: $white;
        border-radius: 5px;
        transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25),opacity 0.15s ease-out;
        z-index: 9;
        opacity: 1;
        pointer-events: auto;
        transform: scale(1) translateY(0);
        line-height: 40px;
        min-height: 40px;
        outline: none;
        text-align: left;
        transition: all 0.25s;
        cursor: pointer;
        
        &:hover {
          background-color: #f6f6f6;
        }
        
      }
    }
  
    &__choosen {
        color: $darkBlack;
        font-family: $regularFont;
        font-weight: $medium;
        border: none;
        background-color: transparent;
        display: flex;
        align-items: center;
        font-size: 20px;
        line-height: 20px;
        user-select: none;
        cursor: pointer;
        padding: 0 29px 0 18px;
    }
  
    &__header {
        position: relative;
        min-width: 70px;
  
      &:after {
        content: '';
        border-bottom: 2px solid $semiBlack;
        border-right: 2px solid $semiBlack;
        height: 8px;
        width: 8px;
        display: block;
        margin-top: -4px;
        top: 50%;
        pointer-events: none;
        position: absolute;
        transform-origin: 66% 66%;
        transform: rotate(45deg);
        transition: all 0.15s ease-in-out;
        left: 45px;
      }
    }
  
    &__link {
        margin-top: 4px;
        color: $semiBlack;
        font-family: $regularFont;
        font-weight: $medium;
        transition: all 0.4s;
        font-size: 20px;
        cursor: pointer;
        padding-left: 18px;
        padding-right: 29px;
        display: inline-block;
        width: 100%;
        height: 100%;
       
    }
  
    .hideOptions {
        display: none
    }
}
  
.custom_select.menu-active .custom_select__options {
   display: block;
   position: absolute;  
   margin-top: 4px;
   border-radius: 5px;
   z-index: 10;
}
  
.custom_select.menu-active .hideOptions {
   display: block
}
  
.custom_select.menu-active .showOptions {
   display: none
}
  
.menu-active {
    
   &:after {
   transform: rotate(-135deg);
   }
}


.wallet-dropdown {
   position: relative;
   margin-left: 12px;
   width: 50%;
   height: 90px;
   background-color: #f2f3f9;
   border: none;
   outline: none;

   &_open {
      .custom_select {
         transform: translateY(-90px);
      }
    }
    
    &_open {
      .custom_select__option_fee {
         display: none;
      }

      .custom_select__option {
         padding: 27px 24px 27px 24px !important;
      }
    }

   &__input {
      display: none;
    
      &_active {
        width: 85%;
        height: 89px;
        border-bottom: 1px solid $turquoise !important;
        position: relative;
        z-index: 9999;
        background-color: #f2f3f9;
        border: none;
        outline: none;
        padding: 27px 24px 27px 24px;
        font-family: $regularFont;
        color: $semiBlack;
        font-size: 24px;
      }
   }

   &__label {
      position: absolute;
      top: -15px;
      font-family: $regularFont;
      color: $semiBlack;
      font-size: 14px;
      text-transform: uppercase;
      display: block !important;
   }

   .custom_select {
      &__header {
         &:after {
            left: auto;
            right: 45px;
         }
      }

      &__choosen {
         font-family: $regularFont;
         color: $semiBlack;
         font-size: 36px;
         font-weight: 400;
         line-height: inherit;
         padding: 27px 0 27px 24px;
      }

      &__options {
         width: 100%;
      }

      &__option {
         width: 100%;
         height: 90px;
         font-family: $regularFont;
         background-color: #f2f3f9 !important;
         border: none;
         color: $semiBlack;
         padding: 15px 0 27px 24px;
         font-size: 36px;
         outline: none;
         font-weight: 400 !important;
         transition: all 0.25s;

         &:hover {
            background-color: $white !important;
         }

         &_fee {
            color: $lightBlue;
            font-family: $regularFont;
            font-size: 14px;
         }
      }
   }
}