// Colors
$white: #fff;
$liteWhite: #f9f9fc;
$gray: #9b9b9b;
$bgColor: #f7f8fb;
$semiBlack: #4a4a4a;
$darkBlack: #323c47;
$red: #ff455c;
$turquoise: #00c99c;
$lightBlue: #0277ff;
$black: #000;
$semi-black: #1f1f1f;

// Fonts

$regularFont: 'CoreSans Regular', sans-serif;
$boldFont: 'CoreSans Bold', sans-serif;
$normal: 400;
$medium: 700;
$bold: 900;


$mainBorder: 1px solid rgba(207, 213, 231, .5);


// Mixins

@mixin btn-empty-green { 
    color: rgba(255,255,255,1);
    transition: all 0.5s;
    border: 1px solid rgba(255,255,255,0.5);
    position: relative;
    margin: 0;
    background-color: transparent;
    border: 1px solid $turquoise;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    overflow: hidden;

    &:hover {
        span {
            color: $white;
        }
    }

	span{
		z-index: 2;	
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		color: $turquoise;
		font-family: $regularFont;
		font-weight: 700;
		font-size: 13px;
		text-transform: uppercase;
		letter-spacing: 2px;
		display: flex;
		justify-content: center;
		align-items: center;
        height: 100%;
        padding: 0 10px;
        word-break: break-all;
        line-height: 16px;
    }
    
	&::before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		opacity: 0;
		background-color: $turquoise;
		transition: all 0.4s;
		transform: scale(1, 0.5);
    }
    
	&:hover::before{
		opacity: 1;
		transform: scale(1, 1);
	}
}

@mixin btn-green {
    color: rgba(255,255,255,1);
    transition: all 0.5s;
    border: 1px solid rgba(255,255,255,0.5);
    position: relative;
    margin: 0;
    background-color: $turquoise;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    overflow: hidden;

    &:hover {
        border: 1px solid $turquoise;

        span {
            color: $turquoise;
        }
    }

	span{
		z-index: 2;	
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		color: $white;
		font-family: $regularFont;
		font-weight: 700;
		font-size: 13px;
		text-transform: uppercase;
		letter-spacing: 2px;
		display: flex;
		justify-content: center;
		align-items: center;
        height: 100%;
        padding: 0 10px;
        word-break: break-all;
        line-height: 16px;
    }
    
	&::before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		opacity: 0;
		background-color: $white;
		transition: all 0.4s;
		transform: scale(1, 0.5);
    }
    
	&:hover::before{
		opacity: 1;
		transform: scale(1, 1);
	}
}

@mixin btn-empty-red { 
    color: rgba(255,255,255,1);
    transition: all 0.5s;
    border: 1px solid rgba(255,255,255,0.5);
    position: relative;
    margin: 0;
    background-color: transparent;
    border: 1px solid $red;
    cursor: pointer;
    outline: none;
    overflow: hidden;

    &:hover {
        span {
            color: $white;
        }
    }

	span{
		z-index: 2;	
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		color: $red;
		font-family: $regularFont;
		font-weight: 700;
		font-size: 13px;
		text-transform: uppercase;
		letter-spacing: 2px;
		display: flex;
		justify-content: center;
		align-items: center;
        height: 100%;
        padding: 0 10px;
        word-break: break-all;
        line-height: 16px;
    }
    
	&::before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		opacity: 0;
		background-color: $red;
		transition: all 0.4s;
		transform: scale(1, 0.5);
    }
    
	&:hover::before{
		opacity: 1;
		transform: scale(1, 1);
	}
}

@mixin btn-red {
    color: rgba(255,255,255,1);
    transition: all 0.5s;
    border: 1px solid rgba(255,255,255,0.5);
    position: relative;
    margin: 0;
    background-color: $red;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    overflow: hidden;

    &:hover {
        border: 1px solid $red;

        span {
            color: $red;
        }
    }

	span{
		z-index: 2;	
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		color: $white;
		font-family: $regularFont;
		font-weight: 700;
		font-size: 13px;
		text-transform: uppercase;
		letter-spacing: 2px;
		display: flex;
		justify-content: center;
		align-items: center;
        height: 100%;
        padding: 0 10px;
        word-break: break-all;
        line-height: 16px;
    }
    
	&::before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		opacity: 0;
		background-color: $white;
		transition: all 0.4s;
		transform: scale(1, 0.5);
    }
    
	&:hover::before{
		opacity: 1;
		transform: scale(1, 1);
	}
}

@mixin btn-blue {
    color: rgba(255,255,255,1);
    transition: all 0.5s;
    border: 1px solid rgba(255,255,255,0.5);
    position: relative;
    margin: 0;
    background-color: $lightBlue;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    overflow: hidden;

    &:hover {
        border: 1px solid $lightBlue;

        span {
            color: $lightBlue;
        }
    }

	span{
		z-index: 2;	
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		color: $white;
		font-family: $regularFont;
		font-weight: 700;
		font-size: 13px;
		text-transform: uppercase;
		letter-spacing: 2px;
		display: flex;
		justify-content: center;
		align-items: center;
        height: 100%;
        padding: 0 10px;
        word-break: break-all;
        line-height: 16px;
    }
    
	&::before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		opacity: 0;
		background-color: $white;
		transition: all 0.4s;
		transform: scale(1, 0.5);
    }
    
	&:hover::before{
		opacity: 1;
		transform: scale(1, 1);
	}
}

@mixin btn-empty-black { 
    color: rgba(255,255,255,1);
    transition: all 0.5s;
    border: 1px solid rgba(255,255,255,0.5);
    position: relative;
    margin: 0;
    background-color: transparent;
    border: 1px solid $black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    overflow: hidden;

    &:hover {
        border: 1px solid $lightBlue;

        span {
            color: $white;
        }
    }

	span{
		z-index: 2;	
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		color: $black;
		font-family: $regularFont;
		font-weight: 700;
		font-size: 13px;
		text-transform: uppercase;
		letter-spacing: 2px;
		display: flex;
		justify-content: center;
		align-items: center;
        height: 100%;
        padding: 0 10px;
        word-break: break-all;
        line-height: 16px;
    }
    
	&::before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		opacity: 0;
        background-color: $lightBlue;
		transition: all 0.4s;
		transform: scale(1, 0.5);
    }
    
	&:hover::before{
		opacity: 1;
		transform: scale(1, 1);
	}
}

@mixin tab-buy-sell {

    .tab-container__tab-item {
        width: 164px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        span {
            font-family: $regularFont;
            font-weight: $bold;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 13px;
            line-height: 14px;
            position: relative;
            z-index: 9;
            height: 14px;
        }
        
        &:first-child {
            @include btn-empty-green;
            position: relative;


        }

        &:last-child {
            @include btn-empty-red;
            position: relative;
        }
    }

    .red.selected-item {
        color: rgba(255,255,255,1);
        transition: all 0.5s;
        border: 1px solid rgba(255,255,255,0.5);
        position: relative;
        margin: 0;
        background-color: $red;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        outline: none;
        overflow: hidden;
        transition: 0.25s;
    
        &:hover {
            opacity: 0.9;
        }
    
        span{
            z-index: 2;	
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            color: $white;
            font-family: $regularFont;
            font-weight: 700;
            font-size: 13px;
            text-transform: uppercase;
            letter-spacing: 2px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            padding: 0 10px;
            word-break: break-all;
            line-height: 16px;
        }
    }
    
    .turquoise.selected-item {
        color: rgba(255,255,255,1);
        transition: all 0.5s;
        border: 1px solid rgba(255,255,255,0.5);
        position: relative;
        margin: 0;
        background-color: $turquoise;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        outline: none;
        overflow: hidden;
        transition: 0.25s;
    
        &:hover {
            opacity: 0.9;
        }
    
        span{
            z-index: 2;	
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            color: $white;
            font-family: $regularFont;
            font-weight: 700;
            font-size: 13px;
            text-transform: uppercase;
            letter-spacing: 2px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            padding: 0 10px;
            word-break: break-all;
            line-height: 16px;
        }
    }
}

@mixin empty-blue-btn-hover {
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform: scaleY(0);
        transform-origin: top center;
        background: $lightBlue;
        transition: transform .4s,-webkit-transform .4s,-moz-transform .4s,-o-transform .4s;
    }
    
    &:hover:after {
        transform: scaleY(1);
        transform-origin: bottom center;
    }

    &:hover {
        span {
            color: $white;
            position: relative;
            z-index: 1;
        }
    }
}

@mixin btn-turquoise {
    border: 2px solid $turquoise;
    transition: all 0.25s;
    position: relative;
    text-transform: uppercase;
    transition: all 0.25s;

    &:hover {
        opacity: 0.9;
    }
}

@mixin empty-turquoise-btn-hover {
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform: scaleY(0);
        transform-origin: top center;
        background: $turquoise;
        transition: transform .4s,-webkit-transform .4s,-moz-transform .4s,-o-transform .4s;
    }
    
    &:hover:after {
        transform: scaleY(1);
        transform-origin: bottom center;
    }

    &:hover {
        span {
            color: $white;
            position: relative;
            z-index: 1;
        }
    }
}

@mixin btn-turquoise-inside {
    color: $turquoise;
    font-family: $regularFont;
    font-weight: $bold;
    font-size: 13px;
    line-height: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transition: all 0.25s;
    letter-spacing: 2px;
}

@mixin empty-red-btn-hover {
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform: scaleY(0);
        transform-origin: top center;
        background: $red;
        transition: transform .4s,-webkit-transform .4s,-moz-transform .4s,-o-transform .4s;
    }
    
    &:hover:after {
        transform: scaleY(1);
        transform-origin: bottom center;
    }

    &:hover {
        span {
            color: $white;
            position: relative;
            z-index: 1;
        }
    }
}

@mixin btn-red-inside {
    color: $red;
    font-family: $regularFont;
    font-weight: $bold;
    font-size: 13px;
    line-height: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transition: all 0.25s;
    letter-spacing: 2px;
}

@mixin linkMenu {
    color: $white;
    font-family: $regularFont;
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 14px;
    text-decoration: none;
    text-transform: uppercase;
}

@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin main-input {

    input {
        background-color: #f2f3f9;
        border: none;
        color: $semiBlack;
        font-family: $regularFont;
        outline: none;

        &::placeholder {
            color: $gray;
        }
    }

    label {
        position: absolute;
        top: -15px;
        color: $semiBlack;
        font-family: $regularFont;
        font-size: 13px;
        line-height: 14px;
        text-transform: uppercase;
    }
}