// Colors
$white: #fff;
$liteWhite: #f9f9fc;
$gray: #9b9b9b;
$bgColor: #f7f8fb;
$semiBlack: #4a4a4a;
$darkBlack: #323c47;
$red: #ff455c;
$turquoise: #00c99c;
$lightBlue: #0277ff;
$black: #000;
$semi-black: #1f1f1f;

// Fonts

$regularFont: "FuturaPT", sans-serif;
$boldFont: "FuturaPTBold", sans-serif;
$normal: 400;
$medium: 700;
$bold: 900;


$mainBorder: 1px solid rgba(207, 213, 231, .5);


// Mixins

@mixin btn-empty-black { 
    border: 1px solid $semiBlack;
    color: $semiBlack;
    font-family: $regularFont;
    font-weight: $medium;
    background-color: transparent;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform: scaleY(0);
        transform-origin: top center;
        background: $lightBlue;
        transition: transform .4s,-webkit-transform .4s,-moz-transform .4s,-o-transform .4s;
    }
    
    &:hover:after {
        transform: scaleY(1);
        transform-origin: bottom center;
    }

    &:hover {
        border: 1px solid $lightBlue;

        .btn-white-text, span {
            color: $white;
            position: relative;
            z-index: 1;
        }
    }
}

@mixin btn-blue { 
    background-color: $lightBlue;
    color: $white;
    font-family: $regularFont;
    font-weight: $bold;
    font-size: 14px;
    line-height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 0.25s;

    &:hover {
        opacity: 0.9;
    }
}

@mixin empty-blue-btn-hover {
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform: scaleY(0);
        transform-origin: top center;
        background: $lightBlue;
        transition: transform .4s,-webkit-transform .4s,-moz-transform .4s,-o-transform .4s;
    }
    
    &:hover:after {
        transform: scaleY(1);
        transform-origin: bottom center;
    }

    &:hover {
        span {
            color: $white;
            position: relative;
            z-index: 1;
        }
    }
}

@mixin btn-turquoise {
    border: 2px solid $turquoise;
    transition: all 0.25s;
    position: relative;
    text-transform: uppercase;
    transition: all 0.25s;

    &:hover {
        opacity: 0.9;
    }
}

@mixin empty-turquoise-btn-hover {
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform: scaleY(0);
        transform-origin: top center;
        background: $turquoise;
        transition: transform .4s,-webkit-transform .4s,-moz-transform .4s,-o-transform .4s;
    }
    
    &:hover:after {
        transform: scaleY(1);
        transform-origin: bottom center;
    }

    &:hover {
        span {
            color: $white;
            position: relative;
            z-index: 1;
        }
    }
}

@mixin btn-turquoise-inside {
    color: $turquoise;
    font-family: $regularFont;
    font-weight: $bold;
    font-size: 14px;
    line-height: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transition: all 0.25s;
    letter-spacing: 2px;
}

@mixin btn-red {
    border: 2px solid $red;
    transition: all 0.25s;
    position: relative;
    text-transform: uppercase;
    transition: all 0.25s;

    &:hover {
        opacity: 0.9;
    }
}

@mixin empty-red-btn-hover {
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform: scaleY(0);
        transform-origin: top center;
        background: $red;
        transition: transform .4s,-webkit-transform .4s,-moz-transform .4s,-o-transform .4s;
    }
    
    &:hover:after {
        transform: scaleY(1);
        transform-origin: bottom center;
    }

    &:hover {
        span {
            color: $white;
            position: relative;
            z-index: 1;
        }
    }
}

@mixin btn-red-inside {
    color: $red;
    font-family: $regularFont;
    font-weight: $bold;
    font-size: 14px;
    line-height: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transition: all 0.25s;
    letter-spacing: 2px;
}

@mixin tab-buy-sell {

    .tab-container__tab-item {
        width: 164px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        span {
            font-family: $regularFont;
            font-weight: $bold;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 14px;
            line-height: 14px;
            position: relative;
            z-index: 10;
        }
        
        &:first-child {
            color: $turquoise;
            border: 1px solid $turquoise;
            position: relative;
            @include empty-turquoise-btn-hover;
        }

        &:last-child {
            color: $red;
            border: 1px solid $red;
            position: relative;
            @include empty-red-btn-hover;
        }
    }

    .red.selected-item {
        background-color: $red;
        span {
            color: $white;
        }
    }
    
    .turquoise.selected-item {
        background-color: $turquoise;
    
        span {
            color: $white;
        }
    }
}

@mixin linkMenu {
    color: $white;
    font-family: $regularFont;
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 14px;
    text-decoration: none;
    text-transform: uppercase;
}

@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin main-input {

    input {
        background-color: #f2f3f9;
        border: none;
        color: $semiBlack;
        font-family: $regularFont;
        outline: none;

        &::placeholder {
            color: $gray;
        }
    }

    label {
        position: absolute;
        top: -15px;
        color: $semiBlack;
        font-family: $regularFont;
        font-size: 14px;
        line-height: 14px;
        text-transform: uppercase;
    }
}