.wrapper__pagination {
    margin: 0 140px;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100%;

    &__prev {
        margin-right: auto;
    }

    &__next {
        margin-left: auto;
    }

    &__prev, &__next {
        a {
            color: $semiBlack;
            font-family: $regularFont;
            font-weight: $medium;
            font-size: 24px;
            line-height: 20px;
        }
    }

    li {
        width: 48px;
        height: 48px;
        position: relative;

        &:first-child, &:last-child {
            width: 100%;
            width: auto;
            padding: 0 15px;
            box-sizing: border-box;
        }

        a {
            color: $semiBlack;
            font-family: $regularFont;
            font-size: 18px;
            line-height: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            
            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                transform: scaleY(0);
                transform-origin: top center;
                background: $lightBlue;
                transition: transform .4s,-webkit-transform .4s,-moz-transform .4s,-o-transform .4s;
            }
            
            &:hover:after {
                transform: scaleY(1);
                transform-origin: bottom center;
            }

            &:hover {
                span {
                    color: $white;
                    font-weight: $medium;
                    z-index: 10;
                }
            }
        }
    } 

    &__current {
        background-color: $lightBlue;

        a {
            color: $white !important;
            font-weight: $medium !important;

        }
    }
}