// help styles

body {
    background-color: $bgColor;
    overflow: hidden;

    .btn-blue {
        @include btn-blue;
    }

    .btn-turquoise-inside {
        @include btn-turquoise-inside;
    }

    .btn-turquoise {
        @include btn-turquoise;
        @include empty-turquoise-btn-hover;
    }

    .btn-red-inside {
        @include btn-red-inside;
    }

    .btn-red {
        @include btn-red;
        @include empty-red-btn-hover;
    }

    a {
        text-decoration: none;
    }

    .bold {
        font-weight: $bold;
    }

    .help-block {
        color: $red;
        font-family: $regularFont;
        font-size: 14px;
        line-height: 14px;
        margin-top: 10px;
        text-align: center;
    }

    .copyToClipboard-wallet-inside {
        cursor: pointer;
        width: 84px;
        height: 66px;
        background-color: #e5e6ef;
        opacity: 0.5;
        color: $gray;
        font-family: $regularFont;
        font-size: 24px;
        font-weight: 400;
        line-height: 24px;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 13px;
        right: 10px;
        user-select: none;
    }

    .fixed-social-icons {
        position: fixed;
        bottom: 120px;
        right: 25px;
        display: flex;
        flex-direction: column;
        z-index: 2;

        @media screen and (max-width: 1250px) { 
            display: none;
        }

        &__links {
            padding: 15px;

            &:not(:last-child) {
                margin-bottom: 80px;
            }
        }
    }

    .flex {
        display: flex;
    }

    .center {
        display: flex;
        align-items: center;
    }

    .space-between {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    input:focus::-webkit-input-placeholder { 
        color:transparent; 
    }

    input:focus:-moz-placeholder { 
        color:transparent; 
    }


    // delete arrow from input number

    /* Chrome */
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number]{
    -moz-appearance: textfield;
    }
}

// custom scroll

::-webkit-scrollbar {
    width: 10px
}

::-webkit-scrollbar-track {
    background: #f1f1f1
}

::-webkit-scrollbar-thumb {
    background: #888
}

::-webkit-scrollbar-thumb:hover {
    background: #555
}