// help styles

body {
    background-color: $bgColor;

    .btn-blue {
        @include btn-blue;
    }

    .btn-turquoise-inside {
        @include btn-turquoise-inside;
    }

    .btn-turquoise {
        @include btn-turquoise;
        @include empty-turquoise-btn-hover;
    }

    .btn-red-inside {
        @include btn-red-inside;
    }

    .btn-red {
        @include btn-red;
        @include empty-red-btn-hover;
    }

    a {
        text-decoration: none;
    }

    .bold {
        font-weight: $bold;
    }

    .fixed-social-icons {
        position: fixed;
        bottom: 0;
        right: 25px;
        display: flex;
        flex-direction: column;
        z-index: 1;

        &__links {
            padding: 15px;

            &:not(:last-child) {
                margin-bottom: 80px;
            }
        }
    }

    .flex {
        display: flex;
    }

    input:focus::-webkit-input-placeholder { 
        color:transparent; 
    }

    input:focus:-moz-placeholder { 
        color:transparent; 
    }


    // delete arrow from input number

    /* Chrome */
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number]{
    -moz-appearance: textfield;
    }
}

// custom scroll

::-webkit-scrollbar {
    width: 10px
}

::-webkit-scrollbar-track {
    background: #f1f1f1
}

::-webkit-scrollbar-thumb {
    background: #888
}

::-webkit-scrollbar-thumb:hover {
    background: #555
}