.footer {
    background-color: #0277ff;
    padding: 50px 122px 35px 122px;

    &__top-wrapper {
        display: flex;
        justify-content: space-between;

        &_item {

            li {
                &:first-child {
                    margin-bottom: 10px;

                    a {
                        color: $white;
                        font-family: $regularFont;
                        font-weight: $medium;
                        font-size: 20px;
                        line-height: 23px;
                    }
                }
            }

            &_link {
                color: $white;
                font-family: $regularFont;
                font-size: 16px;
                line-height: 40px;


            }
        }
    }

    &__bottom-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 70px;

        &_left-side {
            color: $white;
            font-family: $regularFont;
        }

        &_right-side {
            width: 255px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            a {
                padding: 15px;
            }
        }
    }
} 