.header {
    display: flex;
    margin: 21px 36px 0 122px;
    justify-content: space-between;

    @media screen and (min-width: 769px) and (max-width: 1250px) { 
        margin: 21px 40px 0 40px;
    }

    &__left-side {
        display: flex;
        align-items: center;

        &_link {
            display: flex;
            align-items: center;
            margin-left: 75px;

            li {
                margin-right: 40px;
            }

            a {
                color: $gray;
                font-family: $regularFont;
                font-weight: $medium;
                line-height: 23px;
                font-size: 20px;
                transition: all 0.25s;

                &:hover {
                    color: $lightBlue;
                }
            }
        }

        &_selected {
            color: $lightBlue !important;
        }
    }

    &__right-side {
        display: flex;
        align-items: center;

        &_links {
            display: flex;
            align-items: center;
        }

        &_button {

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 147px;
                height: 48px;
                background-color: #0277ff;
                color: $white;
                font-family: $regularFont;
                font-weight: $medium;
                font-size: 14px;
                line-height: 14px;
                margin: 0 40px;
                text-transform: uppercase;
                letter-spacing: 2px;

                &:hover {
                    opacity: 0.9;
                }
            }
        }

        &_language {
            .main-dropdown {
                color: $semiBlack;
                font-family: $regularFont;
                font-weight: $medium;
                border: none;
                background-color: transparent;
                display: flex;
                align-items: center;
                font-size: 20px;
                line-height: 20px;

                li:first-child {
                    display: none;
                }

                &:after {
                    border-bottom: 2px solid $semiBlack;
                    border-right: 2px solid $semiBlack;
                    height: 8px;
                    width: 8px;
                }
            }
        }
    }
}